<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Настройки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Цвет темы</ion-label>
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-button color="tertiary" (click)="logoutAuthClear()">Выход</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
