<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="ionblock">
      <app-logo></app-logo>
      <h2>Добро пожаловать в Steel</h2>
      <p>Это приложение позволит отслеживать работу комплекса не выходя из дома</p>
    </ion-slide>
    <ion-slide class="ionblock">
      <app-logo></app-logo>
      <p>Удаленный доступ позволит отслеживать действия сотрудников на производстве</p>
    </ion-slide>
    <ion-slide class="ionblock">
      <app-logo></app-logo>
      <p>Вы всегда будете в курсе дел на вашем производстве</p>
    </ion-slide>
  </ion-slides>
  <app-start>

  </app-start>
</ion-content>
