<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Обратная связь</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
    <h2>Опишите свою проблему</h2>
  </div>
    <form>
      <ion-list>
        <ion-item>
          <ion-textarea class="custom-textarea" background="tertiary" placeholder="Расскажите подробнее о том, что у вас случилось"></ion-textarea>
        </ion-item>

      <ion-item>
        <a routerLink='/login'>Вход</a> <ion-button shape='round' color="tertiary">Отправить</ion-button>
      </ion-item>
      <ion-button expand="block" shape='round' color="tertiary">Войти</ion-button>
      </ion-list>
    </form>

</ion-content>
