<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col> -->
  <ion-item>
    <h2>Добро пожаловать {{displayUserData?.name}}</h2>
  </ion-item>
    <ion-card>
      <img alt="Стружкодробилка" src="https://s-k56.ru/images/system/struzhkodrobilka.png" />
      <ion-card-header>
        <ion-card-title>Стружкодробительный комплекс</ion-card-title>
        <ion-card-subtitle>Серии PSX-7500</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Для переработки лома автомобилей, белой жести, старой бытовой техники, велосипедов, пустых консервных банок и других низкоактивных отходов с целью превращения их в сырье для производства стали высшего качества.
      </ion-card-content>
    </ion-card>


</ion-content>
