ion-button {
  text-transform: capitalize;
}

.red-button {
  --background: red;
}

.orange-button {
  --background: orange;
}

.gray-button {
  --background: gray;
}

.blue-button {
  --background: blue;
}

.yellow-button {
  --background: yellow;
}
